<div>
  <h1>Login</h1>
</div>

<div>
  <div>

    
<%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <div>
        
<%= f.label :email, 'Email' %>

        
<%= f.email_field :email %>

      </div>

      <div>
        
<%= f.label :password, 'Password' %>

        
<%= f.password_field :password %>

      </div>

      
<%= f.submit 'Log in' %>

    
<% end %>

    <p>New user? 
<%= link_to 'Sign up now!', signup_path %>
</p>
  </div>
</div>